.fullscreen-table {
    width: 100%;
    height: 100%;
}
.fullscreen-table main {
    height: calc(100% - 50px);
}
.fullscreen-dialog .fullscreen-table main .el-table__fixed-body-wrapper tbody tr .cell,
.fullscreen-dialog .fullscreen-table main .el-table__body-wrapper tbody tr .cell {
    line-height: 16px;
}
.fullscreen-dialog .fullscreen-table main .el-table__fixed-header-wrapper thead th .cell,
.fullscreen-dialog .fullscreen-table main .el-table__header-wrapper thead th .cell {
    display: flex;
    align-items: center;
}