@import "~@/assets/css/variable.scss";

/* 加载loading */
.el-loading-spinner .path {
  stroke: #0BB3B3;
}
.el-loading-spinner .el-loading-text {
  color: #0BB3B3;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.el-loading-spinner .circular{
  display: none;
}
.el-loading-spinner{
  background: url(~@/assets/image/loading_1.gif) no-repeat center;
  background-size: 58px 58px;
  width: 100%;
  height: 58px;
  position: relative;
  top: 50%;
}
/* tab标签 */
.el-tabs .el-tabs__nav-wrap::after {
  background-color: unset;
}
.el-tabs>.el-tabs__header {
  margin: 0;
}
.el-tabs>.el-tabs__header .el-tabs__item {
  /* padding: 0 20px !important; */
  /* border-bottom: 2px solid transparent; */
  font-size: 14px;
  color: #666;
}
.el-tabs>.el-tabs__header .el-tabs__item.is-active {
  font-size: 16px;
  border-color: #0BB3B3;
  color: #0BB3B3;
}
.el-tabs>.el-tabs__header .el-tabs__active-bar {
  background-color: #0BB3B3;
}

.el-tabs--card>.el-tabs__header {
  border-color: #0BB3B3;
  margin-bottom: 0;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav {
  border: 0;
}
.el-tabs--card>.el-tabs__header .el-tabs__item {
  /* border: 0; */
  border-bottom: 1px solid transparent;
  border-color: #0BB3B3;
  background-color: #f1f1f1;
  color: #333;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  background-color: #0BB3B3;
  color: #FFF;
}
.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: unset;
}

/* 过滤条button */
.maps-button-mini {
  padding: 8px 13px;
}
.maps-button-mini span i {
  font-size: 14px;
}
.el-button--primary {
  background-color: #0BB3B3;
  border-color: #0BB3B3;
  color: #FFF !important;
}
.el-button--primary.el-button:hover {
  background-color: #33CCCC;
  border-color: #33CCCC;
}
.el-button--primary.el-button:focus {
  background-color: #33CCCC;
  border-color: #33CCCC;
}
.el-button--primary.is-disabled {
  background-color: #909399;
  border-color: #909399;
}
.el-button--primary.is-disabled:hover {
  background-color: #909399;
  border-color: #909399;
}
/* .el-button .el-button--primary:hover {
  background-color: #33CCCC;
} */
.maps-button-mini i {
  font-size: 18px;
}
.el-button--default.el-button:hover {
  color: #33CCCC;
  border-color: #33CCCC;
}
.el-button--default.el-button:focus {
  color: #33CCCC;
  border-color: #33CCCC;
}
.el-button .el-button--default .el-button--small .el-button--primary {
  color: #FFF;
}
.el-button.is-plain span i {
  color: #333;
}
/* 文字按钮 */
.el-button.el-button--text span {
  /* color: #333333; */
  color: #0BB3B3;
}
.el-button.el-button--text.is-disabled span {
  /* color: #333333; */
  color: #c0c4cc;
}
.el-button.el-button--text span:hover {
  color: #0BB3B3;
}

.operate .el-button.el-button--text span {
  color: #333;
  /* color: #0BB3B3; */
}
.operate .el-button.el-button--text span:hover {
  color: #0BB3B3;
}
/* button  文字+icon */
.maps-icon-text-button {
  padding: 6px 13px;
}
.maps-icon-text-button span {
  display: flex;
  align-items: center;
}
.maps-icon-text-button span i {
  font-size: 16px;
  margin-right: 5px;
}

/* 过滤input */
.el-input--mini .el-input__inner {
  /* padding-left: 55px; */
  height: 32px;
  line-height: 32px;
}
.filter-input .el-input__inner {
  /* padding-left: 36px; */
  padding-left: 30px;
}
.filter-input .el-input__prefix {
  left: 10px;
  line-height: 32px;
}
.el-select .el-input.is-focus .el-input__inner {
  border-color: #0BB3B3;
}
.el-select .el-input__inner:focus {
  border-color: #0BB3B3;
}
.el-input__inner:focus {
  border-color: #0BB3B3;
}
.el-textarea__inner:focus {
  border-color: #0BB3B3;
}
/* el-select-dropdown */
.el-select-dropdown__item {
  max-width: 350px;
}
.el-select-dropdown__item.selected {
  color: #FFF;
  background-color: #33CCCC;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: #FFF;
  background-color: #33CCCC;
}
.el-select-dropdown__item.selected.hover {
  color: #FFF;
  background-color: #33CCCC;
}
.el-select-dropdown__item.is-disabled:hover {
  color: #FFF;
  background-color: #33CCCC;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
  color: #FFF;
  background-color: #33CCCC;
}
.el-select-dropdown__item.hover {
  color: #33CCCC;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
  right: 5px;
}

/* 时间日期筛选 */
.el-range-editor--mini.el-input__inner {
  height: 32px;
  width: 220px;
  cursor: pointer;
}
.el-range-editor--mini .el-range-separator {
  line-height: 28px;
}
.el-range-editor.is-active, .el-range-editor.is-active:hover {
  border-color: #0BB3B3;
}
.el-date-range-picker .el-date-range-picker__header .el-picker-panel__icon-btn:hover {
  color: #0BB3B3;
}
.el-date-picker .el-date-picker__header .el-date-picker__header-label:hover {
  color: #0BB3B3;
}
.el-date-table td.available:hover {
  color: #0BB3B3;
}
.el-date-table td.end-date span, .el-date-table td.start-date span {
  background-color: #0BB3B3;
}
.el-date-table td.today span {
  color: #0BB3B3;
}
.el-date-table td.current:not(.disabled) span {
  background-color: #0BB3B3;
}
.el-year-table td .cell:hover, .el-year-table td.current:not(.disabled) .cell {
  color: #0BB3B3;
}
.el-date-range-picker .el-picker-panel__sidebar .el-picker-panel__shortcut:hover {
  color: #0BB3B3;
}
.el-date-editor {
  cursor: pointer;
}
.el-date-editor .el-range-input{
  cursor: pointer;
}

/* 时间选择确认按钮 */
.el-picker-panel .el-time-panel__btn.confirm,
.el-time-panel .el-time-panel__btn.confirm {
  color: #0BB3B3;
}

 /* table */
 .el-table {
   color: #333;
 }
 .el-table .cell {
   line-height: 24px;
 }
.list-table-header, .el-table th {
  background: rgba(241,241,241,1) !important;
  color: #333;
  font-weight: bold;
}
.el-table__body-wrapper .el-button--text:not(.is-disabled) {
  color: #333;
}
.el-table__body-wrapper .el-button--text:not(.is-disabled):hover {
  color: #33CCCC;
}
.el-table td {
  vertical-align: text-top;
  padding: 8px 0;
}
.el-table td.el-table-column--selection,.el-table td.operate {
  vertical-align: middle;
}
.el-table td.el-table-column--selection,.el-table td {
  vertical-align: middle;
}
.el-table thead th .cell {
  word-break: keep-all;
}
.el-table .el-table__empty-block .el-table__empty-text {
  position: relative;
}
/* 表格排序按钮 */
.el-table .caret-wrapper {
  height: 24px;
}
.el-table .sort-caret.ascending {
  top: 1px;
}
.el-table .sort-caret.descending {
  bottom: 1px;
}
.el-table .el-table__header-wrapper thead th,
.el-table .el-table__fixed-header-wrapper thead th {
  padding: 6px 0;
} 

/* 分页器 */
.el-pagination button, .el-pagination span:not([class*=suffix]) {
  height: 36px;
  line-height: 36px;
}
.el-pagination .el-pagination__sizes .el-select .el-input__inner:hover {
  border-color: #33CCCC;
}
.el-pagination__editor.el-input .el-input__inner {
  height: 36px;
}
.el-pager li {
  height: 36px;
  line-height: 36px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #33CCCC;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li:hover {
  color: #33CCCC;
}
.el-pagination.is-background .el-pager li:not(.active):hover {
  color: #33CCCC;
}

/* 抽屉 */
.el-dialog__wrapper .el-drawer__container .el-drawer__header {
  font-size: 18px;
  color: #333;
}
.el-drawer__header>:first-child {
  flex: unset;
  cursor: pointer;
}

/* dialog弹框 */
.el-dialog__wrapper .el-dialog {
  margin: 0 auto !important;
  top: 50%;
  transform: translateY(-50%);
}
.el-dialog .el-dialog__header {
  padding: 0 20px;
  height: 40px;
  background: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-weight: 700;
}
.el-dialog .el-dialog__header .el-dialog__title{
  font-size: 16px;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn{
  position: unset;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn i{
  color: #333;
  font-size: 18px;
  font-weight: 700;
}
.el-dialog__header .el-dialog__headerbtn:hover .el-icon-close {
  color: #33CCCC;
}
.el-dialog .el-dialog__footer {
  border-top: 1px solid #DDDDDD;
  padding: 10px 20px;
}
.el-dialog .el-dialog__footer .el-button {
  padding: 8px 15px;
}

/* tooltip */
.el-tooltip__popper.is-dark {
  /* min-width: 65px; */
  min-width: 45px;
  height: auto;
  min-height: 18px;
  line-height: 18px;
  max-width: 350px;
  opacity: .9;
  background:rgba(58,83,147,1);
  box-shadow:0px 0px 23px 0px rgba(0, 0, 0, 0.5);
  border-radius:3px;
  transform-origin: center bottom;
}
/* .el-tooltip__popper.is-dark .popper__arrow {
} */

/* 消息弹框 */
.el-message .el-message__icon {
  display: none;
}
.el-message .el-message__content {
  color: #FFF;
}
.el-message,.el-message--info {
  background-color: rgba(213, 131, 35, 0.9);
  border: 1px solid rgba(213, 131, 35, 1);
  display: flex;
  justify-content: center;
  top: 3px;
}
.el-message.el-message--success {
  background: rgba(11, 179, 150, 0.9);
  border: 1px solid rgba(11, 179, 200, 1);
}
.el-message .el-icon-info {
  display: none;
}
.el-message--info .el-message__content {
  font-size: 16px;
  color: #F2F2F2;
  font-weight: 400;
  word-break: break-all;
}
.el-message.el-message--error,
.el-message.el-message--success {
  z-index: 9999 !important;
}


/* popover弹框 */
.el-dropdown-menu .el-dropdown-menu__item:hover {
  color: #33CCCC;
}
.el-popover.black-popover {
  background: rgba(52,61,85,0.9);
  color: #fff;
}
.el-popover.black-popover .popper__arrow::after{
  border-bottom-color: rgba(52,61,85,0.9);
}
/* 复选框 */
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background: #0BB3B3;
  border-color: #0BB3B3;
}
.el-checkbox__input .el-checkbox__inner:hover, .el-checkbox__input.is-indeterminate .el-checkbox__inner:hover {
  border-color: #0BB3B3;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #0BB3B3;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: inherit;
}
.el-checkbox {
  color: #333;
}
/* 单选框 */
.el-radio {
  color: #333;
}
.el-radio__input.is-checked .el-radio__inner {
  background: #0BB3B3;
  border-color: #0BB3B3;
}
.el-radio__input.is-checked+.el-radio__label {
  color: inherit;
}
.el-radio-group {
  display: flex;
  align-items: center;
}
.el-radio-group.column-radio {
  flex-flow: column;
  align-items: flex-start;
}
.el-radio-group.column-radio .el-radio {
  padding: 5px 0;
}
.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
  box-shadow: none;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background: #0BB3B3;
  border-color: #0BB3B3;
  box-shadow: -1px 0 0 0 #0BB3B3;
}
.el-radio-button__inner:hover {
  color: #0BB3B3;
}
/* 复选、单选字体 */
.el-checkbox__label {
  font-size: 12px;
  color: #333;
  /* line-height: 32px; */
}
.el-radio__label {
  font-size: 12px;
  color: #333;
  /* line-height: 32px; */
}
/* badge标记 */
.el-badge .el-badge__content {
  height: 14px;
  line-height: 14px;
  border: 0;
  padding: 0 4px;
}
/* 导航 */
.el-menu--collapse>div>.el-submenu>.el-submenu__title .el-icon-arrow-right {
  display: none;
}

.leftbar-nav-menu .el-submenu .el-menu--inline .el-menu-item.is-disabled {
  background: #343D55 !important;
  opacity: 1;
}

.leftbar-nav-menu .el-submenu .el-menu--inline .el-menu-item.is-disabled .nav-title {
  opacity: 0.25;
}
/* 导航收起弹框 */
.el-menu--vertical {
  /* background:rgba(58,83,147,0.9); */
  box-shadow:0px 0px 23px 0px rgba(0, 0, 0, 0.5);
  border-radius:3px;
}
.el-menu--vertical > .el-menu {
  margin: 0;
  /* background:rgba(58,83,147,0.9); */
  background: #343D55;
}
.el-menu--vertical > .el-menu .el-menu-item .nav-title {
  display: block !important;
  color: #FFF !important;
}
.el-menu--vertical > .el-menu .el-menu-item:hover {
  background: #0bb3b3;
}


/* input placeholder */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999 !important;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999999 !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999999 !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999999 !important;
}

/* messagebox */
.el-message-box__headerbtn .el-message-box__close:hover {
  color: #33CCCC;
}
.el-message-box__wrapper .el-message-box .el-message-box__header {
  background-color: #F6F6F6;
}
.el-message-box__wrapper .el-message-box .el-message-box__header .el-message-box__title{
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
/* .el-message-box__wrapper .el-message-box {
  min-width: 470px;
} */
.el-message-box__wrapper .el-message-box .el-message-box__content {
  padding: 30px 20px;
}
.el-message-box__wrapper .el-message-box .el-message-box__content .el-message-box__message{
  line-height: 24px;
  padding: 0;
}
.el-message-box__wrapper .el-message-box .el-message-box__btns {
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
}
.el-message-box__wrapper .el-message-box .el-message-box__content .el-message-box__status.el-icon-warning {
  display: none;
}
/* 表单 */
.el-form .readonly-email .el-input__inner {
  background: #F5F7FA;
  
}
.el-form .el-form-item .el-form-item__label {
  word-break: keep-all;
}

/* tree组件 */
.el-tree .el-tree-node .el-tree-node__content {
  height: 32px;
}